.smiley-face {
  width: 200px;
  height: 200px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 40px;
}

.eyes.left {
  left: 50px;
}

.eyes.right {
  right: 50px;
}

.mouth {
  width: 100px;
  height: 20px;
  border-bottom: 3px solid black;
  position: absolute;
  bottom: 40px;
  border-radius: 50%;
}
